{% extends 'base_layout.html' %}

{% block content %}
<div class="container">
    <h2>My Enrolled Events</h2>
    <div class="events-list">
        {% if events %}
            {% for event in events %}
                <div class="event-card">
                    <h3>{{ event.title }}</h3>
                    <p>{{ event.shorter_description }}</p>
                    <p>Date & Time: {{ event.datetime }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p>Enrollment Limit: {{ event.enrollment_limit }}</p>
                    <p>Enrolled Users: {{ event.enrolled_users.count }}</p>
                    {% if event.additional_details %}
                        <p>Additional Details: {{ event.additional_details }}</p>
                    {% endif %}
                    {% if event.contact_information %}
                        <p>Contact Information: {{ event.contact_information }}</p>
                    {% endif %}
                    <form method="post" action="{% url 'events:unenroll_event' %}">
                        {% csrf_token %}
                        <input type="hidden" name="event_id" value="{{ event.id }}">
                        <button type="submit" class="btn btn-danger">Unenroll</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>You are not enrolled in any events.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
