{% extends 'base_layout.html' %}

{% block content %}
    <h2>Blogs Feed</h2>
    <div class="blogs">
{#        {%  %} -- for python code like loops etc.#}
{#        {{ }} -- for output #}
        {% for blogs in blog_details %}
            <div class="blog">
            <!-- Here blogs:blog_detail, and not just blog_detail,
            because we are namespacing it to avoid confusion, which app?? -->
                <h2><a href="{% url 'blogs:blog_detail' slug=blogs.slug %}">{{ blogs.title }}</a></h2>
            {#calling function here from blogs class in models.py.#}
            <p>{{ blogs.shorter_body }}</p>
            <p> {{ blogs.pub_date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}