/* Example CSS to customize admin colors */
body {
    background-color: #81B5A1; /* Change background color */
}

.header {
    background-color: #293E40; /* Change header color */
}

#header h1 {
    color: #fff; /* Change header text color */
}

#header{
    background-color: #293E40;
}

.colMS h1 {
    color: #121212;
    font-weight: bold;
    font-style: italic;
}

#recent-actions-module{
    background-color: #293E40 !important;
}

.navbar {
    background-color: red; /* Change navigation bar color */
}

.navbar a {
    color: #fff; /* Change navigation bar link color */
}

/* Add more custom styles as needed */
